stages:
  - build-and-push

# Use Docker CLI inside GitLab CI
image: docker:24.0.5

# Enable Docker-in-Docker service
services:
  - name: docker:24.0.5-dind
    command: ['--tls=false']

variables:
  DOCKER_TLS_CERTDIR: ''
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2

before_script:
  # Ensure Docker is accessible
  - docker info
  # Login to Docker Hub using CI/CD variables
  - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin

build_and_push_image:
  stage: build-and-push
  rules:
    # Run only on main branch (you can change it)
    - if: '$CI_COMMIT_BRANCH == "docker"'
  script:
    - IMAGE_NAME="$DOCKERHUB_USERNAME/shakwa-api"

    # Build Docker image
    - docker build -t "$IMAGE_NAME:latest" .

    # Tag with commit short SHA
    - docker tag "$IMAGE_NAME:latest" "$IMAGE_NAME:$CI_COMMIT_SHORT_SHA"

    # Push to Docker Hub
    - docker push "$IMAGE_NAME:latest"
    - docker push "$IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
