apiVersion: apps/v1
kind: Deployment
metadata:
  name: shakwa-app
  labels:
    app: shakwa
spec:
  replicas: 3
  selector:
    matchLabels:
      app: shakwa
  template:
    metadata:
      labels:
        app: shakwa
    spec:
      containers:
        - name: shakwa
          image: shakwa:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: HOST_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP

          envFrom:
            - configMapRef:
                name: shakwa-config
            - secretRef:
                name: shakwa-secret
