apiVersion: v1
kind: Service
metadata:
  name: shakwa-backend-service
  namespace: shakwa
  labels:
    app: shakwa-backend
spec:
  type: LoadBalancer # Creates a cloud load balancer
  selector:
    app: shakwa-backend
  ports:
    - name: http
      port: 80 # External port
      targetPort: 3000 # Container port
      protocol: TCP
  sessionAffinity: ClientIP # Ensures requests from same client go to same pod
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800 # 3 hours
