apiVersion: v1
kind: Service
metadata:
  name: shakwa-service
spec:
  type: NodePort
  sessionAffinity: None
  selector:
    app: shakwa
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 32000
